<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>my first template</title>
</head>
<body>
<h3>Hey Squad, It's a local host!! </h3>
<form action="/users" method="POST">
	<p>Name: <input type="text" name="name" /></p>
	{% with messages = get_flashed_messages(category_filter=["nameError"]) %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
	<p>Email: <input type="text" name="email" /></p>
  {% with messages = get_flashed_messages(category_filter=["emailError"]) %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
	<p>Favorite Flavor of Ice Cream!: <input type="text" name="favorite" /></p>
	{% with messages = get_flashed_messages(category_filter=["favError"]) %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
    {% endwith %}
	<input type="submit" value="Create Profile!">
</form>




	
</body>
</html>